
<!DOCTYPE html>
<html lang="en">
<head>


      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
      $(document).ready( function() {
        $('#next').click(function() {
           $.ajax("{{ url_for('index') }}").done(function (reply) {
              $('#totals').html(reply);
           });
        });
    });


      </script>
      <meta http-equiv="refresh" content="30">   
    
  <meta charset="UTF-8">
  <title>LOA File Totals</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyles.css') }}">
</head>

<body>
<div>
  <a href="{{ url_for('logout') }}">Logout</a>
</div>
     
<h1 style="text-align: center">LOA File Totals</h1>
<br>
<br>
<table>
<tr>
    <th>Folder</th>
    <th>Total</th>
    <th>Today</th>
  </tr>

<div id="totals"></div>
 {% for key, values in dir_dict.items() %}
 <tr>

      <td>{{key}}</td>

    {% for value in values %}
    <td> {{value}} </td>
    {% endfor %}

 </tr>
 {% endfor %}

</div>

</table>

<br><br>
<p><b>Files.com status as at: <span id="datetime"></span></b></p>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
<br><br>
<p>
<!-- <input type="button" id="next" value="Next" /> -->
<!-- <a href="{{ url_for('index') }}"><button>REFRESH</button></a> --> 
</p>
</body>
</html>
